<?xml version="1.0" encoding="UTF-8"?>
<Context path="/BigbrotherDB">
    <Resource
            driverClassName="org.postgresql.Driver"
            maxActive="4"
            maxIdle="2"
            maxWait="5000"
            name="jdbc/BigbrotherDB"
            username="postgres"
            password="Srp4866543"
            type="javax.sql.DataSource"
            url="jdbc:postgresql://localhost:5432/bigbrother"
            validationQuery="SELECT 1">
    </Resource>
</Context>